.footer {
    color: $color-white;
    background: $color-black;

    &__googlemap {
        height: 40em;
        
    }

    &__container {
        width: 100%;
        max-width: 110em;
        margin: 0 auto;
        display: flex;
        margin-top: 5em;
    }

    &__contact {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-around;
        
    }

    &__adress-box {
       text-align: center;
        height: 60%;
        width: 50%;
        font-size: 1.4rem;
    }

    &__nav {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;  
    }

    &__nav-list {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__nav-item {
       list-style: none;
       font-size: 1.4rem;
       position: relative;
    }

    &__nav-item a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0%;
        width: 100%;
        transform: scale(0);
        background: $color-yellow;
        transition: .5s ease;
    }

        &__nav-item a:hover::before {
            height: 10%;
            transform: scale(1.1);
        }

    &__nav-link {
        color: $color-white;
        cursor: pointer;
    }

    &__social  {
        display: flex;
       width: 35%;
       justify-content: space-evenly;
        i {
            color: $color-white;
            font-size: 3rem;
            margin: 0 .25em;
            transition: all .5s;
        }
    }

    &__social i:hover,
    &__social i:hover {
        transform: scale(1.2);
        color: $color-yellow;
    }

    &__copy {
        text-align: center;
        width: 100%;
        color: $color-white;
        font-size: 1.6rem;
        padding: 5em 0 1.5em;
    }
}



@media (max-width: 800px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__contact {
        flex-direction: column;
        width: 100%;
        margin-bottom: 4em;
    }

    .footer__adress-box {
        margin-top: 2em;
    }

    .footer__social {
        margin-top: 4em;
    }
}