.nav {
    width: 100%;
    padding: 2em;
    position: fixed;
    z-index: 10;
    opacity: 0;

    &__scroll{
        background-image: linear-gradient(to bottom, black 25%, transparent);
        height: 10%;
        opacity: 1;
        transition: all .5s;
} 


    &__logoBox {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 5em;
        margin: 0 .5em;
    }

    &__logo-text {
        font-size: 1.75rem;
        color: $color-yellow;
    }

    &__list {
        display: flex;
        
    }

    &__item a{
        margin: 0 1em;
        padding:0 .5em ;
        font-size: 1.2rem;
        position: relative;
        color: white;
        
    }

    &__item a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0%;
        width: 100%;
        transform: scale(0);
        background: $color-yellow;
        transition: .5s ease;
    }

    &__item a:hover::before {
        height: 10%;
        transform: scale(1.1);
    }

    &__social {
        display: flex;
    }

    &__social i {
        font-size: 3em;
        margin: .2em;
        transition: .5s ease;
        color: $color-white;
    }

    &__social i:hover,
    &__social i:hover {
        transform: scale(1.2);
        color: $color-yellow;
    }
}





.burgerMenu {
    height: 4em;
    width: 4em;
    border: solid .2em $color-white;
    border-radius: .5em;
    position: relative;
    display: none;

    &__lineContainer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .line {
        width: 70%;
        height: 6%;
        background: $color-white;

        transition: all ease .2s;

        &::before {
            content: '';
            width: 70%;
            height: 6%;
            background: $color-white;
            position: absolute;
            top: 10px;
        }

        &::after {
            content: '';
            width: 70%;
            height: 6%;
            background: $color-white;
            position: absolute;
            bottom: 10px;
            background: $color-white;
            transition: all ease .2s;
        }
    }

     &:hover .line::before {
                position: absolute;
                top: 8px;
                background-color: $color-yellow;
    }

    &:hover .line::after {
        position: absolute;
        bottom: 8px;
        background-color: $color-yellow;
    }

    &:hover .line {
        background-color: $color-yellow;
    }   
}

.navResponsive {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 99;
    background-image: url('/Images/responiveNav-BG.jpg');
    background-size: cover;
    background-position: center;
    color: $color-white;
    
    transition: all .5s ease;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    &__list {
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item  {
        color: $color-white;
        padding: 1em;
        margin: 1em;
        letter-spacing: 1.3rem;
    }

    &__link {
        color: $color-white;
        font-size: 4rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0%;
            width: 100%;
            transform: scale(0);
            background: $color-yellow;
            transition: .5s ease;
        }

        &:hover::before {
            height: 5%;
            transform: scale(1.1);
        }
    }

    &__logoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__nav__logo {
        height: 10em;
        width: 10em;
    }

    &__nav__logo-text {
        font-size: 3rem;
        color: $color-yellow;
    }

    &__close i {
        position: absolute;
        top: 2em;
        right: 2em;
        font-size: 3.5rem;
        color: $color-white;

        &:hover {
            color: $color-yellow;
        }
    }

}

.showNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
   }

@media (max-width: 800px) {
    .nav {

        &__social {
            flex-direction: column;
        }
    }
}

@media (max-width: 700px){
    .nav {

        &__list {
            display: none;
        }

        &__social {
            display: none;
        }
    }

    .burgerMenu {
        display: block;
    }
}

@media (max-width: 500px){
    .navResponsive__link {
        font-size: 2.5rem
    }

    .navResponsive__nav__logo {
        font-size: .5rem
    }

    .navResponsive__nav__logo-text {
        font-size: 2rem
    }
}



