.flex-container{
    width:100%;
    max-width: 110em;
    margin: 0 auto;
}

.flex-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

