.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}