.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42em, 1fr ));
    grid-auto-rows: auto;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
    grid-auto-rows: auto;
}

