.btn {
    padding: 1em 2em;
    border: none;
    border-radius: .3em;
    
    &__header {
        margin-top: 2em;
        color: $color-white;
        border: solid 1px $color-white;
        font-size: 1.3rem;
        position: relative;

        transition:  .5s ease;
    }

    &__header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;


        

        &::before:hover {
           
            width: 100%;
        }
    }

    &--submit {
        margin-top: 2em;
        display: flex;
        background: transparent;
        border: 2px solid $color-yellow;
        color: $color-white;
        transition: all .5s ease;

        
    }
}

