.btn {
    padding: 1em 2em;
    border: none;
    border-radius: .3em;
    
    &__header {
        margin-top: 2em;
        color: $color-white;
        border: solid 1px $color-white;
        font-size: 1.3rem;

        transition:  .5s ease;

        &:hover {
           background: $color-white;
           color: black;
        }
    }

    &--submit {
        margin-top: 2em;
        display: flex;
        background: transparent;
        border: 2px solid $color-yellow;
        color: $color-white;
        transition: all .5s ease;

        
    }
}

