.card {
    border: solid 1px $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.5em;
    margin: 2em 2em 6em;
    text-align: center;
    border-radius: .5em;
    transition: ease all .3s;

    &:hover {
        transform: scale(1.1);
        
        
    }

    &__icon {
        max-width: 14em;
    }

    &__heading {
        font-size: 1.75rem;
    }

    &__text {
        font-size: 1.3rem;
    }
}

