.card {
    border: solid 1px green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.5em;
    margin: 2em 2em 6em;
    text-align: center;
    

    &__icon {
        max-width: 14em;
    }

    &__heading {
        font-size: 1.75rem;
    }

    &__text {
        font-size: 1.3rem;
    }
}