.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/Images/');

    &__label {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-top: 2.5em;
        width: 80%;
    }

    &__input {
        width: 80%;
        border: none;
        border-bottom: 1px solid black; //white
        margin-top: 1em;
    }
}