
.contact__container {
        background: url('/Images/form_bg.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        padding-bottom: 5em;
}

.empty {
    width: 45%;
    padding: .5em;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1em;
    background: transparent;
    

    &__input {
        width: 100%;
        border: none;
        margin-top: 1em;
        border-bottom: 1px solid grey;
        background: transparent;
        outline: transparent;
        padding: 1.2em;
        position: relative;
        color: $color-white;

        &::placeholder {
            color: $color-yellow;
        }
    }
   
}


