
.contact__container {
        background: url('/Images/form_bg.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        padding-bottom: 5em;
}

.empty {
    width: 45%;
    padding: .5em;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1em;
    background: transparent;
    
    &__form-control {
        width: 100%;
    }

    &__input {
        width: 100%;
        border: none;
        margin-top: 1em;
        border-bottom: 1px solid grey;
        background: transparent;
        outline: transparent;
        padding: 1.2em;
        position: relative;
        color: $color-white;

        &::placeholder {
            color: $color-white;
        }
    }

    &__small {
        text-align: end;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        visibility: hidden;
        color: $color-yellow;
    }
}


.form__form-control.sucess input {
    color: $color-success;
}

.form__form-control.error input {
    color: $color-error;
}

.form__form-control.error .form__small{
    visibility: visible;
}

.form__form-control.success .form__small{
    visibility: visible;
}

