
.contact__container {
    display: flex;
}

.empty {
    width: 45%;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-right: 1em;
    background-image: linear-gradient(to bottom 180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    &__input {
        width: 100%;
        border: none;
        margin-top: 1em;
        border-bottom: 1px solid grey;
        background: transparent;
        outline: transparent;
        padding: 1.2em;
        position: relative;
        color: $color-white;

        &::placeholder {
            color: $color-yellow;
        }
    }
   
}


