
.img-container {
    background: black;
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(26em, 1fr));
   grid-auto-rows: minmax(10em, 30em);
    gap: 1rem;
    grid-auto-flow: dense;
}

.gal-img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: ease all .5s;

   &:hover {
       transform: scale(1.05);
       object-fit: contain;
   }
}

.span2-col {
    grid-column: span 2;
}

.span3-col {
    grid-column: span 3;
}

.span2-row {
    grid-row: span 2;
}



