
.img-container {
    background: black;
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
   grid-auto-rows: minmax(1fr, 10em);
    gap: 1rem;
    grid-auto-flow: dense;
}

.gal-img {
   
}

.span2-col {
    grid-column: span 2;
}



