
.section {
   background: black;
   color: $color-white;
//    border: solid;
  padding-top: 5em;

    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2em;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.6;
        
    }

    &__header {
        color: $color-yellow;
        font-size: 3rem;
        padding-bottom: 1em;
    }

    &__text {
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 2;
        font-size: 1.6rem;
        
    }

    &__services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    &__work {

    }

    &__work h1 {
        text-align: center;
    }

    &__contact h1 {
        text-align: center;
    }
}