
.section {
   background: black;
   color: $color-white;
//    border: solid;
  padding-top: 5em;

    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2em;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.6;
        
    }

    &__header {
        color: $color-yellow;
        font-size: 3rem;
        padding-bottom: 1em;
    }

    &__text {
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 2;
        font-size: 1.6rem;
        
    }

    &__services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    &__work {

    }

    &__work h1 {
        text-align: center;
    }

    &__contact h1 {
        text-align: center;
    }
}

.section-spacer {
    background: $color-black;
    height: 15em;
}

@media (max-width: 900px) {
    .section__img {
       margin: auto 0;
    }
    .section__text {
        line-height: 1.5;
    }
}

@media (max-width: 800px) {
    .section {
        padding-top: 3em;

        &__img {
          max-width: 70em;
          height: 100%;
          object-fit: contain;
          margin: 0 auto;

        }
    }

    .section-spacer {
        height: 10em;
    }

    .res-my {
        margin-bottom: 3em;
    }

    .empty {
        display: none;
    }
}


