*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;//font-size 10px
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-image: url('/Images/body_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100vw;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-black;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: 'oswald';
    text-transform: uppercase;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    overflow-x: auto;
}

@media (max-width: 1000px) {
    html{
        font-size: 58.2%
    }
    
}

@media (max-width: 700px) {
    html {
        scroll-behavior: unset;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 50%;
        padding: 0;
    }
}