*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% //font-size 10px
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-black;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: 'oswald';
    text-transform: uppercase;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}