.my-bottom-big {margin-bottom: 3em !important;}
.my-bottom-medium {margin-bottom: 2em !important;}
.my-bottom-small {margin-bottom: 1em !important;}
.my-bottom-verySmall {margin-bottom: .75em !important;}

.my-top-veryBig {margin-top: 6em !important}
.my-top-big {margin-top: 3em !important;}
.my-top-medium {margin-top: 2em !important;}
.my-top-small {margin-top: 1em !important;}

.py-top-big {padding-top: 3em;}
.py-top-mediun {padding-top: 2em;}
.py-top-small {padding-top: 1em;}

.padding-container {
   
    padding-bottom: 2em;
}